*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 26, 26);
    color: #cbcbcb;
}

.heading{
    font-size: 3.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #57dac0;
    text-align: center;
    padding: 2rem;
}

.box{
    max-width: 800px;
    min-width: 230px;
    height: 600px;
    flex-direction: column;
    margin: auto;
    background-color: black;
    position: relative;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 10px rgb(92, 92, 92);
}

.inputBox{
    position: relative;
    max-width: 800px;
    min-width: 230px;
    background-color: rgb(23, 23, 23);
    border: none;
    border-bottom: 2px solid #57dac0;
    margin: auto;
}

.inputBox input{
  max-width: 600px;
  min-width: 190px;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 1.1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline: none;
  background-color: rgb(23, 23, 23);
  color: rgb(201, 199, 199);
  border: none;

}

.box .screen{
    padding: 1rem;
    line-height: 1.3;
    letter-spacing: 1.1px;
    height: 550px;
    overflow: auto;
}

.qna{
    padding-top: 1rem;
}

.qna h4{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box .screen h3{
    font-size: 2rem;
}
.box .screen p{
    font-size: 1.2rem;
}

.inputBox .btn{
    position: absolute;
    bottom: 7px;
    right: 5px;
    height: 70px;
    padding: 13px 10px;
    font-size: 1.4rem;
    width: 100px;
    font-weight: bold;;
    background-color: #139b67;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.inputBox .btn:is(:hover, :focus){
    background-color: #04715b;
    color: white;
}

.error{
    display: none;
    color: red;
}

.answer{
    padding-top: 10px;
}

@media screen and (max-width: 480px) {
    .heading{
        font-size: 2rem;
    }
    .box .screen h3{
        font-size: 1.4rem;
    }
    .box .screen p{
        font-size: 1.2rem;
    }
    .inputBox .btn{
        position: relative;
        width: 100%;
        height: 50px;
        margin-top: 12px;
        margin-left: 5px;
    }
}
